---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Professional background and bio of Jared Bronen"
	pubDate={new Date('May 13 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I am a Brooklyn-based writer, filmmaker, and comedian. Since 2019, I've been a writer for the Upright Citizens Brigade (UCB) NY’s Maude Night (the house sketch team program). I currently write and act for the team <strong>Ponyboy</strong>.
	</p>

	<p>
		Before my time at UCB, I wrote for the PIT Weekend Team <em>Like Butter</em> and the Boogiemanja team <em>Cherry, Cherry</em>. My early career included writing for CollegeHumor (2012–2013) and a recurring role as "Mike Fink" in the <em>Jake & Amir</em> web series.
	</p>

	<p>
		I'm the creator and host of <strong>The Trash King</strong>, a monthly tournament of bits at UCB NYC that celebrates "dumb and high commitment" comedy. The show has been featured in the New York Comedy Festival, <em>Jezebel</em>, and <em>Time Out NY</em>, and has toured to Los Angeles and Chicago.
	</p>

	<p>
		My film work includes the comedy short <em>The Debut</em>, which was a finalist at Just for Laughs Montreal (2025), and the DocuFiction/Comedy <em>Pick a Random Number</em>, which received several awards including Best Dramatic Short at the Raw Science Film Festival (2023).
	</p>

	<p>
		I am also a screenwriter, with works ranging from parody pilots like <em>Shrek’s in the City</em> to horror/sci-fi features like <em>The Content Moderator</em>.
	</p>
</Layout>
